*{
    margin: 0;
    padding: 0;
}

.header-base{
    background: rgb(185, 233, 252);
    padding: 5px;
    text-align: right;
}

.header-menu li{
    display: inline;
}

.header-menu li a{
    font-size: 23px;
    padding: 3px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(178, 178, 249);
    cursor: pointer;
    border-radius: 5px;
    margin: 1px 5px;
    transition: all .5s;
}

.mt{
    font-size: 23px;
    padding: 3px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(178, 178, 249);
    cursor: pointer;
    border-radius: 5px;
    margin: 1px 5px;
    transition: all .5s;
}

.header-menu li a:hover{
    background: rgb(178, 178, 249);
    box-shadow: 0 0 3px 3px black;
}

.header-monument{
    border-radius: 20px 0 20px 20px;
    text-align: left;
    position: absolute;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.853);
    top: 85px;
    font-size: 20px;
    right: -340px;
    transition: all .5s;
}

.header-monument div{
    margin: 8px 0;
    border-bottom: 2px solid black;
    padding: 5px 0;
    transition: all .4s;
}

.header-monument div a{
    margin: 15px;
    padding: 5px 10px;
}

.header-monument div:hover{
   background: rgb(218, 216, 216);
   cursor: pointer;
   border-radius: 20px;
   padding-left: 8px;
}

.n1:hover{
    right: 0px;
}


#n1:checked ~ .header-monument{
    right: 50px;
}

#n1{
    display: none;
}